<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page d'accueil</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <h2>Bienvenue dans Titan Project</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida consequat augue, at fringilla elit eleifend id.</p>
        </div>
        <div class="right">
            <%= link_to image_tag('logo.jpg', class: 'logo'), root_path %>
            <h1>Login</h1>
            <%= form_with(url: root_path, method: "post") do |form| %>
                <% if flash[:alert] %>
                  <div class="alert alert-danger" role="alert">
                    <%= flash[:alert] %>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= form.label :email %>
                  <%= form.email_field :email, class: "form-control", placeholder: "Email", required: true %>
                </div>

                <div class="form-group">
                  <%= form.label :password %>
                  <%= form.password_field :password, class: "form-control", placeholder: "Mot de passe", required: true %>
                </div>

                <%= form.submit "Login", class: "btn btn-primary" %>
            <% end %>
            <p>Vous n'avez pas de compte ? <%= link_to "S'inscrire", inscription_path %></p>
        </div>
    </div>
    <script>
      let currentIndex = 0;
const images = document.querySelectorAll('.carousel-image');

function nextImage() {
    images[currentIndex].classList.remove('active');
    currentIndex = (currentIndex + 1) % images.length;
    images[currentIndex].classList.add('active');
}

    </script>
</body>

</html>
